/*************************\
        Main Menu
\*************************/
.main__header-container{
    width: 100%;
    padding: 1rem 10rem;
    display: block;
}

.header__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: none;
    position: relative;
}

/*************************\
     Categories Container
\*************************/
.catgories__container{
    width: 70%;
    padding: 1rem 0;
    position: relative;
}

/*************************\
       category header
\*************************/
.categories__container-header{
    width: 100%;
    padding: 1rem 0;
    font-size: var(--font-size13);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories__buttons-holder{
    display: flex;
    align-items: center;
}

.button__view{
    margin: 0 .2rem;
    border: none;
    cursor: pointer;
    color: var(--default-black);
}

.button__view i{
    font-size: var(--font-size18);
}

.button__view:hover{
    color: var(--default-red);
}

.orderBy{
    color: var(--light-gray);
    padding: .5rem .5rem;
    border-radius: 2rem;
    border: none;
    font-size: var(--font-size10);
    outline: none;
    margin-left: 1rem;
}

/*************************\
       category list
\*************************/
.new__products-list{
    width: 100%;
    
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product__card{
    width: 23%;
    position: relative;
    background-color: var(--default-white);
    border-radius: 1rem;
    overflow: hidden;
    transition: all .3s ease;
    margin: 1.5rem .5rem;
}

.product__card:hover{
    transform: translateY(-1.2rem) scale(1.05);
}

.product__img{
    width: 100%;
    height: 17rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.product__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__discount{
    width: 3.5rem;
    height: 1.5rem;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: var(--default-red);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--default-white);
}

.product__details{
    width: 100%;
    height: 13rem;
    background-color: var(--default-white);
    border-radius: 0 40% 0 0;
    padding: .8rem;
    color: var(--default-black);
}

.product__details a{
    text-decoration: none;
}

.product__details span{
    font-size: var(--font-size12);
}

.rating{
    margin: .5rem 0;
}

.rating i{
    font-size: var(--font-size12);
    color: var(--default-yellow);
    user-select: none;
}

.product__details p{
    font-size: var(--font-size12);
    color: #5f5f6b;
    margin-top: .8rem;
}

.price__holder{
    width: 100%;
    display: flex;
    margin: .5rem 0;
}

.product__buttons{
    width: 100%;
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product__price{
    font-weight: 700;
    font-size: var(--font-size10);
    margin-right: 1rem;
}

.product__price-old {
    font-size: var(--font-size9);
    color: #5f5f6b;
}

.product__btn{
    position: relative;
    border: none;
    outline: none;
    background-color: #35353f;
    color:white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product__btn i{
    font-size: var(--font-size13);
}

.product__btn:hover{
    background-color: var(--default-yellow);
}

/*************************\
         Modal
\*************************/
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    position: fixed;
    top:0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal__content{
    width: 50%;
    padding: 2rem 0;
    background-color: var(--default-white);
    position: relative;
    border-radius: 1rem;
}

.modal__close{
    width: 100%;
    height: 3rem;
}

.modal__close-btn{
    width: 3rem;
    height: 3rem;
    background-color: var(--default-black);
    border-radius: 50%;
    color: var(--default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: var(--font-size20);
    transform: rotate(45deg);
    cursor: pointer
}

.modal__close-btn:hover{
    background-color: var(--default-red);
}

.modal__container-info{
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    position: relative;
}

.modal__product-img{
    width: 40%;
    height: 25rem;
}

.modal__product-img img{
    height: 100%;
    object-fit: cover;
}

.modal__product-info{
    width: 55%;
    height: 25rem;
    overflow-y: scroll;
    padding: 1rem 1rem;
}

.modal__product-title{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
}

.modal__product-rating{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
}

.modal__product-rating i{
    color: var(--default-yellow);
    font-size: var(--font-size13);
}

.modal__rating-value{
    margin: 0 .5rem 0 1rem;
    font-size: var(--font-size12);
}

.modal__rating-total{
    margin-left: .5rem;
    font-size: var(--font-size12);
}

.modal__product-price{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
}

.modal__product-stock{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
}

.modal__stock-txt{
    color: var(--default-green);
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: .3rem;
}

.modal__product-qtde{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
    font-size: var(--font-size9);
}

.modal__product-qtde label{
    margin-right: .5rem;
}

.modal__product-qtde input{
    width: 5rem;
    margin-right: .5rem;
    font-size: var(--font-size12);
    padding: .5rem .2rem;
}

.modal__product-qtde button{
    border: none;
    padding: .5rem 1rem;
    font-size: var(--font-size12);
    background-color: var(--default-red);
    color: var(--default-white);
    font-weight: 600;
    border-radius: .5rem;
}

.modal__product-qtde button:hover{
    background-color: var(--default-black);
    cursor: pointer;
}

.modal__product-description{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    border-bottom: solid .1rem var(--very-light-gray);
    font-size: var(--font-size11);
    text-align: justify;
}


/*********************************************\
         Responsividade para telemóvel
\*********************************************/
@media only screen and (max-width:1200px){
    /*html{
        font-size: 68%;
    }*/
    /*************************\
            Main Menu
    \*************************/
    .main__header-container{
        width: 100%;
        padding: 0rem 5rem;
    }
    
    /*************************\
           category product
    \*************************/    
    .product__card{
        width: 31%;
        margin: 1.5rem .5rem;
    }

}


/*********************************************\
         Responsividade para telemóvel
\*********************************************/
@media only screen and (max-width:700px){
    /*html{
        font-size: 68%;
    }*/
    /*************************\
            Main Menu
    \*************************/
    .main__header-container{
        width: 100%;
        padding: 1rem 2rem;
    }
    
    /*************************\
         Product Container
    \*************************/
    .header__container{
        width: 100%;
        padding: 1rem 0;
    }
    
    /*************************\
         Categories Container
    \*************************/
    .catgories__container{
        width: 100%;
    }
    
    /*************************\
           category list
    \*************************/
    .new__products-list{
        width: 100%;
        justify-content: space-between;
    }

}

