/*****************************\
        checkout container
\******************************/
.checkout__holder{
    width: 100%;
    padding: 1rem 0;
}

.checkout__container{
    padding: 0 15rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/********************************\
   Informações sobre o checkout
\********************************/
.checkout__information-holder{
    width: 55%;
    background-color: var(--default-white);
    border-right: solid .2rem var(--dark-gray);
}

.checkout__information{
    width: 100%;
    padding: 2rem;
}

.checkout__information-header{
    width: 100%;
    height: 5rem;
    margin: 1rem 0;
}

.checkout__information-logo{
    width: 100%;
    height: 100%;
}

.checkout__logo{
    height: 100%;
    object-fit: cover;
}



.checkout__information-details{
    width: 100%;
    padding: 1rem 0;
}

.information__links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem; 
}

.information__link-holder{
    margin: 0 .5rem;
}

.information__link{
    text-decoration: none;
    font-size: var(--font-size11 );
    outline: none;
    display: flex;
    align-items: center;
    color: var(--default-black);
}

a:visited{
    color: var(--default-black);
}

.information__link i{
    font-size: var(--font-size12);
}

.information__details-holder{
    width: 100%;
}

.information__contact-holder{
    width: 100%;
    margin: .8rem 0 3rem 0;
}

.contact__header{
    width: 100%;
    font-size: var(--font-size13);
    font-weight: bold;
    margin-bottom: .8rem;
}

.contact__email-holder{
    width: 100%;
    margin-bottom: 1rem;
}

.information__email{
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    border: solid .1rem var(--dark-gray);
    font-size: var(--font-size12);
}

.contact__deliver{
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: solid .1rem var(--dark-gray);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.information__radio{
    margin-right: .8rem;
}

.deliver__text-holder{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size10);
}

.deliver__text-holder i{
    font-size: var(--font-size9);
    margin-right: .5rem;
}

.address__country-holder{
    width: 100%;
    margin-bottom: 1rem;
}

.address__country{
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    font-size: var(--font-size12);
    border: solid .1rem var(--dark-gray);
}

.owner__details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.owner__names{
    width: 49%;
    padding: 1rem;
    border-radius: .3rem;
    font-size: var(--font-size12);
    border: solid .1rem var(--dark-gray);
}

.owner__address{
    width: 100%;
    margin-bottom: 1rem;
}

.owner__address-details{
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    font-size: var(--font-size12);
    border: solid .1rem var(--dark-gray);
}

.button__shipping-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem  0;
}

.button__shipping{
    padding: 1rem;
    border-radius: .3rem;
    border: none;
    background-color: var(--default-black);
    color: var(--default-white);
    font-size: var(--font-size12);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button__shipping:hover{
    background-color: var(--default-red);
}

.button__shipping i{
    font-size: var(--font-size10);
    margin-right: .5rem;
}

.contact__comment-holder{
    width: 100%;
}

.contact__comments{
    width: 100%;
    padding: 1rem;
    border-radius: .3rem;
    font-size: var(--font-size12);
    border: solid .1rem var(--dark-gray);
}
/*****************************\
        Produtos do checkout
\******************************/
.checkout__products-holder{
    width: 43%;
    padding: 2rem 1rem;
    background-color: var(--default-white);
}

.checkout__products-list{
    width: 100%;
}

.checkout__product-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 2rem;
}

.product__card-img{
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-right: 1rem;
}

.product__card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout__product-qtde{
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background-color: var(--default-red);
    border-radius: 50%;
    color: var(--default-white);
    font-size: var(--font-size7);
    display: flex;
    align-items: center;
    justify-content: center;
    top:0%;
    right: 0%;
}

.checkout__product-qtde{
}

.product__card-name{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size12);
    margin-right: .5rem;
    font-weight: bold;
}

.product__card-price{
    width: 35%;
    font-size: var(--font-size12);
    text-align: right;
}

.checkout__total-holder{
    width: 100%;
    margin-top: 4rem;
}

.checkout__subtotal-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.subtotal__text-holder{
    width: 50%;
    font-size: var(--font-size12);
}

.subtotal__price-holder{
    width: 50%;
    font-size: var(--font-size12);
    text-align: end;
    font-weight: 700;
}

.checkout__total-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.total__text-holder{
    width: 50%;
    font-size: var(--font-size14);
    font-weight: 700;
}

.total__price-holder{
    width: 50%;
    font-size: var(--font-size14);
    text-align: end;
    font-weight: 700;
}

/********************************************************\
  Responsividade para tablets e pcs com baixa resolução 
\********************************************************/
@media only screen and (max-width:1200px){
    /*****************************\
            checkout container
    \******************************/
    .checkout__container{
        padding: 0 5rem;
    }
}

/*********************************************\
         Responsividade para telemóvel
\*********************************************/
@media only screen and (max-width:700px){
    /*****************************\
            checkout container
    \******************************/
    .checkout__container{
        padding: 0 1rem;
        flex-direction: column;
    }
    
    /********************************\
       Informações sobre o checkout
    \********************************/
    .checkout__information-holder{
        width: 100%;
        border-right: none;
    }
    
    /*****************************\
            Produtos do checkout
    \******************************/
    .checkout__products-holder{
        width: 100%;
        margin-top: 3rem;
    }