/*************************\
      secção de registo
\*************************/
.register__container{
    width: 100%;
    padding: 1rem 10rem;
}

.register__holder{
    width: 100%;
    position: relative;
    margin: 6rem 0;
}

/*********************************\
   secção do formulário registo
\*********************************/
.register__section{
    width: 45%;
    padding: 4rem 2rem;
    background-color: var(--default-white);
    margin: 0 auto;
}

.register__container-header{
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    font-size: var(--font-size14);
}

.register__title{
    width: 100%;
    margin-bottom: 1rem;
    font-size: var(--font-size18);
}

.register__data{
    width: 100%;
    margin: 2rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.register__usernames{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register__username-container{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input_icon{
    position: absolute;
    right: 10%;
    color: var(--light-gray);
}

.input_icon i{
    font-size: var(--font-size12);
}

.register__user-data{
    width: 90%;
    padding: 1.2rem 1rem;
    border: solid .1rem var(--light-gray);
    border-radius: .3rem;
    outline: none;
    font-size: var(--font-size11);
    transition: all .3s;
}

.register__user-data:focus{
    border: solid .1rem var(--default-black);
}

.register__user-data::placeholder{
    font-size: var(--font-size12);
    opacity: 0;
    transition: all .3s;
}

.account__label{
    position: absolute;
    transition: all .2s;
    color: var(--default-black);
    z-index: 1;
    left: 10%;
    top: 35%;
    font-size: var(--font-size12);
}

.account__label::before{
    content: "";
    height: 1rem;
    background-color: var(--default-white);
    position: absolute;
    left: 0%;
    top: 40%;
    z-index: -1;
    width: 100%;
}

.register__user-data:focus + .account__label , 
.register__user-data:not(:placeholder-shown).register__user-data:not(:focus)~.account__label{
    top:-16%;
    color: var(--default-black);
    font-size: var(--font-size10);
}

.register__user-data:focus::placeholder{
    opacity: 1;
    animation-delay: .2s;
}

.register__address-container{
    width: 100%;
    margin: 1rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.register__address-container .input_icon{
    right: 5%;
}

.register__address-data{
    width: 95%;
    padding: 1.2rem 1rem;
    border: solid .1rem var(--light-gray);
    border-radius: .3rem;
    outline: none;
    font-size: var(--font-size13);
    transition: all .3s;
}

.register__address-data:focus{
    border: solid .1rem var(--default-black);
}

.register__address-data::placeholder{
    font-size: var(--font-size12);
    opacity: 0;
    transition: all .3s;
}

.account__label{
    position: absolute;
    transition: all .2s;
    color: var(--default-black);
    z-index: 1;
    left: 10%;
    top: 35%;
    font-size: var(--font-size12);
}

.account__label::before{
    content: "";
    height: 1rem;
    background-color: var(--default-white);
    position: absolute;
    left: 0%;
    top: 40%;
    z-index: -1;
    width: 100%;
}

.register__address-data:focus + .account__label , 
.register__address-data:not(:placeholder-shown).register__address-data:not(:focus)~.account__label{
    top:-16%;
    color: var(--default-red);
    font-size: var(--font-size10);
}

.register__address-data:focus::placeholder{
    opacity: 1;
    animation-delay: .2s;
}

.login__btn-container{
    width: 100%;
    margin: 1rem 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn__login{
    width: 50%;
    border: none;
    background-color: var(--default-black);
    color: var(--default-white);
    border-radius: .3rem;
    padding: 1rem 0;
    font-size: var(--font-size14);
    cursor: pointer;
    font-weight: 700;
}

.btn__login:hover{
    background-color: var(--default-red);
}

.other__options{
    width: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: var(--font-size11);
}

.other__options p a{
    text-decoration: none;
}



/*********************************************\
         Responsividade para telemóvel
\*********************************************/
@media only screen and (max-width:700px){
    /*************************\
          secção de registo
    \*************************/
    .register__container{
        padding: 1rem;
    }
    
    .register__holder{
        margin: 3rem 0;
    }
    
    /*********************************\
       secção do formulário registo
    \*********************************/
    .register__section{
        width: 100%;
    }
    
    .register__usernames{
        width: 100%;
        flex-direction: column;
    }
    
    .register__user-data{
        width: 95%;
    }
    
    .register__address-container .input_icon{
        right: 10%;
    }
}
